{% extends 'adminBase.html.twig' %}

{% block title %}Reservation de cours{% endblock %}



{% block stylesheets %}
<style>
#calendrier {
    width: 80%;
    height: 500px;
    margin: auto;
}

</style>

{% endblock %}



{% block body %}

<div id="calendarAdmin"></div>
{% endblock %}