{% extends 'usersBase.html.twig' %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Creation d'un nouveau profil enfant </h1>
    {{ form_start(kidsForm) }}
    {{ form_widget(kidsForm) }}
{{ form_end(kidsForm) }}




    </div>
    </div> 

    
    
</div>

{% endblock %}