 {% extends 'base.html.twig' %}
 {% block body %}

    <div class="container-fluid padding">
        <div class="d-flex flex-column pb-5 justify-content-center  align-items-center">
            <h1 class="main-title-tarif text-white">Nos <span style="color: yellow;">tarifs</span></h1>
            <div class="decoration-text"></div>
        </div>
    </div>

    <div class="container">
        <div class="row mb-4">
            <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                <div class=" h-100 d-flex flex-column text-center info-card">
                    

                    <h3 class="mb-5 fs-5"><span style="color: yellow;">PAYEZ EN 4 FOIS SANS FRAIS</span></h3>
                        
                        
                    <p class="text-white  text-center">N’hésitez pas à demander l’étalage de vos paiements sur plusieurs dates (4 maximum) sur les formules annuelle. Vous choisissez les dates et le montant que vous êtes en mesure de payer. Ce n’est pas un crédit, ce n’est pas une avance, mais attention CELA VOUS ENGAGE.</p>
              
                </div>
            </div>


            <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                <div class="h-100 d-flex flex-column text-center info-card">
                    
                    <h3 class="mb-5 fs-5"><span style="color: yellow;">2 DISCIPLINES C’EST MIEUX</span></h3>
                        
                        
                    <p class="text-white  text-center">Chez KABUTO FIGHT CLUB lorsque vous vous inscrivez pour 1 discipline ou le "full combat", vous bénéficiez d’un rabais <span style="color: yellow;">de -40% sur l'accés libre musculation et le K.PROG</span> Demandez conseil à un coach pour choisir deux disciplines complémentaires.</p>

                </div>
            </div>


            <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                <div class="h-100 d-flex flex-column text-center info-card">
                    
                    <h3 class="mb-5 fs-5"><span style="color: yellow;">LE MMA À TOUT ÂGE</span></h3>
                        
                        
                    <p class="text-white text-center">Nous avons créé MMA KIDS pour accueillir les enfants de 6 à 12 ans au sein de notre établissement. De même pour le MMA adulte, nous adaptons les séances pour les plus âgés. Demandez conseil avant de vous inscrire, vous aurez des conseils avisés pour pratiquer le MMA en toute sécurité..</p>
 
                </div>
            </div>


            <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                <div class="h-100 d-flex flex-column text-center info-card">
                    
                    <h3 class="mb-5 fs-5"><span style="color: yellow;">ESSAYEZ NOTRE NOUVEAU K.PROGRAMME</span></h3>
                        
                        
                    <p class="text-white text-center">Mobilité, endurance, perte de poids ou prise de force, cette année venez REALISER VOS OBJECTIFS .
                            Au cœur de groupes réduits, un coaching précis vous poussera au meilleur de vous-même.
                            Le K-PROGRAMME vous suit et s'adapte pour répondre à vos attentes et terminer l'année sur une victoire, LA VOTRE !
                    </p>
                 
                </div>
            </div>
        </div>

    </div>


<div class="container d-flex justify-content-center mt-5 mb-5">
    <a href="{{ path('app_register') }}" class="btn btn-landing fw-bold text-decoration-none text-dark d-flex align-items-center justify-content-center" style="z-index: 11;">
    {% if app.user %}
        S'abonner
    {% else %}
        INSCRIPTION
    {% endif %}</a>
</div>

<img src="{{ asset('images/vector.svg') }}" class="vector-icon1" alt="vector jaune">
<img src="{{ asset('images/group-33300.svg') }}" class="vector-icon2" alt="vector jaune">



<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">

            <!-- Tableau pour les ADULTES -->
            <div class="table-responsive">
                <table class="table table-bordered fw-bold custom-table">
                    <thead>
                        <tr class="text-center">
                            <th class="col-category" scope="col">CATEGORIE</th>
                            <th class="col-abonnement" scope="col">ABONNEMENT</th>
                            <th class="col-annee" scope="col">ANNEE</th>
                            <th class="col-3mois" scope="col">3 MOIS</th>
                            <th class="col-1mois" scope="col">1 MOIS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="col-category text-center" rowspan="5">ADULTES</th>
                            <td class="col-abonnement text-center"> K PROGRAM*</td>
                            <td class="text-center"> 325 €</td>
                            <td class="text-center">145 €</td>
                            <td class="text-center"> 65 €</td>
                        </tr>
                        <tr class="text-center">
                            <td class="col-abonnement"> 1 SPORT</td>
                            <td class="text-center"> 370 €</td>
                            <td class="text-center"> 160 €</td>
                            <td class="text-center"> 70 €</td>
                        </tr>
                        <tr class="text-center">
                            <td class="col-abonnement"> JJB - GRAPPLING</td>
                            <td class="col-annee"> 415 €</td>
                            <td> 180 €</td>
                            <td> 80 €</td>
                        </tr>
                        <tr class="text-center">
                            <td class="col-abonnement"> FULL COMBAT</td>
                            <td class="col-annee"> 525 €</td>
                            <td>220 €</td>
                            <td> 95 €</td>
                        </tr>
                        <tr class="text-center">
                            <td class="col-abonnement">LIBRE ACCES*</td>
                            <td  class="col-annee"> 250 €</td>
                            <td> 100 € </td>
                            <td> 30€ </td>
                        </tr>
                        <td colspan="6" class="text-center text-uppercase"> -20% pour tout multi abonnement et abonnement Famille</td>
                    </tbody>
                </table>
            </div>

            <!-- Tableau pour les KIDS -->
            <div class="table-responsive mt-4">
                <table class="table table-bordered fw-bold custom-table">
                    <thead>
                        <tr class="text-center">
                            <th class="col-category" scope="col">CATEGORIE</th>
                            <th class="col-abonnement" scope="col">ABONNEMENT</th>
                            <th class="col-annee" scope="col">ANNEE</th>
                            <th class="col-3mois" scope="col">3 MOIS</th>
                            <th class="col-1mois" scope="col">1 MOIS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <th class="col-category" rowspan="2">KIDS ( -15 ANS )</th>
                            <td class="col-abonnement"> 1 SPORT</td>
                            <td class="col-annee"> 240 €</td>
                            <td> 100 €</td>
                            <td> 40 €</td>
                        </tr>
                        <tr class="text-center">
                            <td class="col-abonnement">FULL COMBAT</td>
                            <td class="col-annee"> 315 €</td>
                            <td> 135 €</td>
                            <td> 60 €</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Tableau pour les ADOS -->
            <div class="table-responsive mt-4">
                <table class="table table-bordered fw-bold custom-table">
                    <thead>
                        <tr class="text-center">
                            <th class="col-category" scope="col">CATEGORIE</th>
                            <th class="col-abonnement" scope="col">ABONNEMENT</th>
                            <th class="col-annee" scope="col">ANNEE</th>
                            <th class="col-3mois" scope="col">3 MOIS</th>
                            <th class="col-1mois" scope="col">1 MOIS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <th class="col-category" rowspan="3">ADOS ( +15 ANS )</th>
                            <td class="col-abonnement">1 SPORT</td>
                            <td class="col-annee"> 295 €</td>
                            <td> 130 €</td>
                            <td> 45 €</td>
                        </tr>
                        <tr class="text-center">
                            <td class="col-abonnement">FULL COMBAT</td>
                            <td class="col-annee"> 435 €</td>
                            <td> 185 €</td>
                            <td> 80 €</td>
                        </tr>
                        <tr class="text-center">
                            <td>JJB-GRAPPLING</td>
                            <td> 315 €</td>
                            <td> 135 €</td>
                            <td> 55 €</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




    


<div class="container d-flex flex-column mb-5">
    <h2 class="text-center text-white mt-5 fs-1 text-uppercase mb-3">Moyens de paiement : carte bleu ( en ligne ) / chèque / espèce</h2>
    <div class="d-flex justify-content-center">
        <img src="{{ asset('images/exclamationtriangle.svg') }}" class="triangle" alt="triangle d'exclamation">
        <p class="text-white fs-4">Frais Administratif : 70 € Première Adhésion <br> 50€ Renouvellement</p>
    </div>
    <p class="fs-3" style="color: yellow;">* Le libre accès interdit le sparring entre adhérents</p>
    <h3 class="text-white mt-2 mb-3 font-neue text-uppercase title-reglement">règlement interieur</h3>
    <div>
        <h4 class="under-title-reglement mt-3 mb-2 font-neue fs-2" style="color: yellow;">RÈGLES DE LA VIE ASSOCIATIVE</h4>
        <p class="text-white fs-4">Le respect mutuel des membres est un fondamental de la vie du club et s’exerce autant au sein qu’en dehors du cadre des activités sportives. Tout membre s’engage à respecter les règles de politesse et de bienséance et à faire preuve de savoir-être au sein du club. Tout adhérent ne respectant pas ces principes comportementaux pourra être déchu de sa qualité de membre pour cette raison.</p>
    </div>
    <div>
        <h4 class="under-title-reglement mt-3 mb-2 font-neue fs-2" style="color: yellow;">RÈGLES DES ACTIVITÉS SPORTIVES</h4>
        <p class="text-white fs-4">Par mesure de sécurité, il est impératif d’avoir tous ses équipements de protection lors de vos séances afin de préserver votre intégrité physique et celle de vos partenaires. A défaut, vous pourrez être dispensé des exercices en opposition. Par mesure de sécurité, vos ongles de pieds et de mains doivent être taillés courts. Si vous avez les cheveux longs ils doivent être attachés. Par mesure de sécurité, il est formellement interdit de poser à proximité des surfaces de pratique vos bouteilles d’eau, boitiers de protège-dents ou tout autre objet pouvant se briser et/ou occasionner des blessures corporelles. Par mesure d’hygiène, le port des claquettes est obligatoire pour tous vos déplacements en dehors des tapis. Il est vivement conseillé d’avoir une bouteille d’eau lors de vos séances afin de pouvoir vous hydrater régulièrement.</p>
    </div>
    <div>
        <h4 class="under-title-reglement mt-3 mb-2 font-neue fs-2" style="color: yellow;">LISTE DES ÉQUIPEMENTS DE PROTECTION</h4>
        <p class="text-white fs-4">Protège-dents Coquille / Soutien-gorge de protection Casque (obligatoire pour les sparrings) Bandages sous gants Gants de boxe Coudières / Mitaines MMA / Protège-tibias Genouillères.</p>
    </div>
    <div>
        <h4 class="under-title-reglement mt-3 mb-2 font-neue fs-2" style="color: yellow;">PIECES A FOURNIR AVEC VOTRE FICHE D’INSCRIPTION</h4>
        <p class="text-white fs-4">Un certificat médical de « non contre-indication » à la pratique des disciplines choisies (indiquées une à une) et précisant la mention « en compétition » pour tout adhérent souhaitant pouvoir participer aux différentes compétitions proposées. Une photocopie de votre pièce d’identité en cours de validité. 2 photos d’identité. Le règlement de votre adhésion dans sa totalité.</p>
    </div>
    
    <div>
        <h4 class="under-title-reglement mt-3 mb-2 font-neue fs-2" style="color: yellow;">CONDITIONS DE PAIEMENT DE VOTRE ADHÉSION</h4>
        <p class="text-white fs-4">Le règlement de votre adhésion se fait à l’inscription. Vous ne pourrez commencer vos activités qu’après en avoir régularisé les modalités. Toutes les adhésions finissent avec l’année sportive/scolaire le 30 juin 2023. L’adhésion est un abonnement et ne présage pas de votre assiduité, elle n’est ni remboursable, ni transmissible, y compris en cas de mesure(s) sanitaire(s) entraînant une fermeture de salle. L’intégralité de son montant doit être réglée à l’inscription ; si votre règlement se fait par chèque un paiement en plusieurs fois pourra vous être accordé. S’il se fait par carte bleue ou espèces, il est possible de régler en plusieurs fois avec un chèque de caution de la totalité du montant de l’adhésion. Les adhésions trimestrielles sont réglées le 1er de chaque 1er mois. La régularité du paiement est de la responsabilité de</p>
    </div>


    <div>
        <h4 class="under-title-reglement mt-3 mb-2 font-neue fs-2" style="color: yellow;">PIECES A FOURNIR AVEC VOTRE FICHE D’INSCRIPTION </h4>
        <p class="text-white fs-4">Un certificat médical de « non contre-indication » à la pratique des disciplines choisies (indiquées une à une) et précisant la mention « en compétition » pour tout adhérent souhaitant pouvoir participer aux différentes compétitions proposées. Une photocopie de votre pièce d’identité en cours de validité. 
2 photos d’identité. 
Le règlement de votre adhésion dans sa totalité.</p>
    </div>
</div>





 {% endblock %}