{% extends 'adminBase.html.twig' %}

{% block body %}
    <h1>Nouvelle compétition</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Créer') }}</button>
    {{ form_end(form) }}

{% endblock %}