{% extends 'usersBase.html.twig' %}
{% block body %}

<div class="container">
{% for message in app.flashes('error') %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    {{message}}
  </div>
</div>
  
{% endfor %}
  <div class="row">
    <div class="col-sm">
      <h1>Modification du mot de passe de {{app.user.prenom }} {{ app.user.nom}}  </h1>
    <form  method="post">
        <div>
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" id="password" class="form-control" name="password" aria-labelledby="passwordHelpBlock">
        </div>

        <div>
            <label for="password2" class="form-label">Confirmer le mot de passe</label>
             <input type="password" id="password2" class="form-control" name="password2" aria-labelledby="passwordHelpBlock">
        </div>
        <button class="btn btn-primary" type="submit">Valider</button>
      
    </form>

    </div>
    </div> 

    
    
</div>

{% endblock %}