.form-check-input {
    column-count: 4;
}



.burger-button {
    background-color: white;
    color: black; /* couleur du texte ou des icônes à l'intérieur */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* ombre pour ajouter un peu de profondeur */
}

.burger-button .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'%3E%3C/path%3E%3C/svg%3E");
}
