 
  
  .navbar-text{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.01em;
  text-transform: uppercase;
  }


  


  .icon-bg-header{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.logo-nav{
    position: absolute;
    height: 180px;
    width: 155px;
    left: 5%;
    top: 2%;
   
}



  @media (max-width: 1400px) {  
    .email-nav {
      color: yellow
    }
  }

  
  .padding-header{
    padding-left: 20px;
    padding-right : 20px;
  }


  @media (min-width: 992px) and (max-width: 1120px) {
    .padding-header {
        padding-left: 200px;
    }
}
  
  .bg-nav{
    background-color: yellow;
    
  }

  .navbarLanding-placement{
    top: 0%;
  }


  @media (max-width: 992px) { 
    .navbar-collapse {
      margin-top: 50px; 
      background-color: black;
    }
  }
  

  .navbar-toggler {
    z-index: 1000;
}

.navbar-collapse {
  z-index: 999;
}






