body{
    margin: 0;
    padding: 0;
    background-image: url(../images/rectangle-1223@2x.png);
    overflow-x: hidden;
}

.decoration-text{
    height: 5px;
    width: 200px;
    background-color: #82730d;
    border-radius: 5px;
}


.main-title-tarif{
    line-height: 150%;
  text-transform: capitalize;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4.75rem;
}



@media (max-width: 1199px) {
    .main-title-tarif {
        font-size: 3.5rem;
    }
}


@media (max-width: 991px) {
    .main-title-tarif {
        font-size: 2.5rem;
    }
}


@media (max-width: 767px) {
    .main-title-tarif {
        font-size: 1.75rem;
    }
}





.vector-icon1 {
    position: absolute;
    height: 43.33%;
    width: 32.53%;
    top: 4%;
    right: -15%;

    
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }


.vector-icon2 {
    position: absolute;
    height: 43%;
    width: 32%;
    top: 80%;
    left: -15%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }

.vector-icon3 {
    position: absolute;
    height: 43%;
    width: 32%;
    
    right: -15%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  } 




  .info-card{
    line-height: 150%;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
    

  }

  .triangle{
    width: 6.25rem;
  height: 6.25rem;
  }

  .font-neue{
    font-family: 'Bebas Neue', sans-serif;
  }

  .title-reglement{
    font-size: 4rem;
  }




  .custom-table {
    border-collapse: collapse; /* Pour éviter les bordures doubles */
    width: 100%; /* Pour occuper toute la largeur disponible */
    margin-top: 20px; /* Espacement entre les tableaux */
}

.custom-table th, .custom-table td {
    border: 1px solid yellow;
    padding: 15px 20px;
}

.custom-table th {
    background-color: #333; /* Vous pouvez ajuster cette couleur */
    color: white;
}

.custom-table td {
    background-color: transparent;
    color: white;
}
.category-th {
    width: 200px; /* ou la valeur que vous désirez */
}

.col-category {
    width: 15%; /* Ajustez cette valeur selon vos besoins */
}
.col-abonnement {
    width: 25%; /* Ajustez cette valeur selon vos besoins */
}
.col-annee {
    width: 15%; /* Ajustez cette valeur selon vos besoins */
}
.col-3mois {
    width: 15%; /* Ajustez cette valeur selon vos besoins */
}
.col-1mois {
    width: 15%; /* Ajustez cette valeur selon vos besoins */
}


